@import '../../scss/variables';

.wrapper {
  height: 100%;
  display: flex;
}

.logo-container {
  background-color: $primary-color;
  width: 60%;
  height: 100vh;
  
  .logo-box {
    display: flex;
    position: relative;
    top: 43%;
    left: 13%;
  
    .logo-img-box {
      width: 15%;

      .logo-svg {
        width: 68%;
      }
    }
    
    .logo-text {
      width: 85%;
      .app-name {
        font-size: 4rem;
        font-weight: 300;
        margin: 0;
      }

      .slogan-text {
        font-size: 1.8rem;
        font-weight: 300;
      }
    }
  }
}

.login-container {
  position: relative;
  background-color: $secondary-color;
  width: 40%;
  height: 100vh;

  .form-box {
    position: relative;
    top: 40%;
    margin: 0 auto;
    width: 400px;
    text-align: center;

    .login-form {
      .input-box {
        position: relative;
        span {
          position: absolute;
          bottom: 20%;
          left: 13%;
          font-size: 2rem;
        }
      }

      input, a, button {
        display: block;
      }

      input, button{
        margin: auto;
      }
      
      input {
        border: none;
        border-bottom: 1px solid $white;
        padding: 5px 10px;
        outline: none;
        background: transparent;
        width: 300px;
      }

      .username-input {
        margin-bottom: 50px;
      }

      .forgot-password {
        font-size: 0.75rem;
      }

      button {
        border: none;
        background-color: $primary-color;
        color: $white;
        width: 300px;
        height: 45px;
        border-radius: 5px;
        font-size: 1.2rem;
        margin-top: 35px;
        margin-bottom: 35px;
      }
    }
  }
  
}


