@import '../../scss/variables';

.budget-container {
  position: relative;
  .budget-form {
    width: 100%;
    height: 100%;

    &.floating-inputs {
      input:focus ~ .budget-label,
      input:not(:focus):valid ~ .budget-label{
        position: absolute;
        top: 0;
        left: 0;
        color: #a3b2c7;
        font-size: 16px;
        position: absolute;
        pointer-events: none;
      }
    }

    input {
      margin-top: 20px;
    }

    input.budget {
      border: 0;
      width: 25%;
      min-width: 250px;
      font-size: 47px;

      @media ($up: $xl) {
        width: 15%;
        min-width: 240px;
      }

      @media ($down: $md) {
        width: calc(42% + 50px);
      }

      @media ($down: $sm) {
        width: calc(60% + 50px);
        min-width: 0;
        margin-bottom: 25px;
      }

      @media ($down: $xs) {
        width: 80%;
      }
    }

    .budget-label {
      position: absolute;
      pointer-events: none;
      left: 0px;
      top: 25px;
      color: #a3b2c7;
      font-size: 23px;
      transition: top 150ms ease, left 150ms ease, font-size 150ms ease;
    }

    .diff-container {
      position: relative;
      display: inline-block;
      width: 40%;
      margin-left: 50px;

      @media ($down: $lg) {
        margin-left: 0;
      }

      @media ($down: $md) {
        width: 60%;
      }

      @media ($down: $sm) {
        margin-top: 20px;
        width: 100%;
      }

      .budget-label {
        top: -13px;
      }

      input.budget-diff {
        pointer-events: none;
        border: 0;
        width: 100%;
        font-size: 34px;
        color: $color-difference;

        @media ($down: $xs) {
          padding-top: 5px;
        }
      }
    }
  }

  .not-saved {
    .save-budget {
      opacity: 1;
      display: inline-block;
      transition: 0.3s ease;
    }
  }

  .save-budget {
    position: relative;
    background-color: $primary-color;
    color: $white;
    padding: 20px;
    max-width: 100px;
    border-radius: 10px;
    bottom: 15px;
    opacity: 0;
    display: inline-block;
    transition: opacity 0.3s ease;
    cursor: pointer;
    left: 0;

    @media ($down: $lg) {
      margin-right: 20px;
    }

    &:hover {
      background-color: lighten($primary-color, 40px);
      color: $grey;
      box-shadow: inset 0px 0px 0px 2px $black;
    }
  }

  .saved {
    .budget {
      color: $color-budget;
      position: relative;
      pointer-events: none;
    }

    .save-budget {
      display: none;
    }
  }
}