@import '../../scss/variables';

.budget-container {
  .budget-form {
    width: 100%;
    height: 100%;
  }

  .save-budget {
    position: relative;
    background-color: $primary-color;
    color: $white;
    padding: 20px;
    bottom: 15px;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: lighten($primary-color, 40px);
      color: $grey;
      box-shadow: inset 0px 0px 0px 2px $black;
    }
  }
}