@import '../variables';

.dashboard {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.logo-box {
		position: relative;
		top: 0;
		left: 0;
		max-height: 100px;
		width: 100%;

		@media ($down: $md) {
			width: 50%;
		}

		@media ($down: $xs) {
			.logo-text {
				display: none;
			}
		}

		.logo-img-box {
			min-width: 60px;
			max-width: 60px;
			height: 100%;

			.logo-svg {
				height: auto;
				width: 100%;
			}
		}

		.logo-text {
			h1 {
				font-size: 27px;
			}

			h3 {
				font-size: 20px;
			}
		}
	}
}

.sidebar {
	position: fixed;
	top: 0;
	display: block;
	max-width: 70px;
	width: 100%;
	height: 100%;
	background-color: $secondary-color;
	z-index: 1;
	transition: max-width 0.3s ease;

	&.active {
		max-width: 200px;

		.container {
			margin-left: auto;
			max-width: 50%;
		}

		.menu-burger {
			span {
				background-color: green;
			}
		}
	}

	@media ($up: $md) {
		left: 0;
	}

	@media ($down: $md) {
		background-color: transparent;
		right: 30px;
		top: 20px;
		width: 50px;
		height: 50px;
	}

	.container {
		width: 100%;
		display: block;
		position: relative;
		transition: margin-left 0.3s ease;
	}

	.menu-burger {
		position: relative;
		display: block;
		width: 100%;
		height: 50px;
		margin-left: auto;
		margin-top: 10px;
		cursor: pointer;

		span {
			position: absolute;
			display: block;
			top: 30px;
			left: 50%;
			transform: translateX(-50%);
			width: 30px;
			height: 3px;
			background-color: $white;
			border-radius: 30px;

			&:nth-child(1) {
				top: 10px;
			}

			&:nth-child(2) {
				top: 20px;
			}
		}
	}
}

.main-section {
	position: relative;
	display: block;
	padding: 20px 0 20px 100px;
	width: 100%;
	height: 100vh;

	@media ($down: $md) {
		padding-left: 30px;
	}

	.main-dashboard {
		position: relative;
		display: block;
		background-color: $white;
		color: $secondary-color;
		height: 600px;
		width: 95%;
		margin: 55px auto;
		margin-left: -7px;
		padding: 15px 20px;
		border-radius: 15px;

		@media ($down: $md) {
			width: 97%;
			height: 700px;
		}
	}
}
