@import '../variables';

.dashboard {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.logo-box {
		position: relative;
		top: 0;
		left: 0;
		max-height: 100px;
		width: 100%;

		@media ($down: $md) {
			width: 50%;
		}

		@media ($down: $xs) {
			.logo-text {
				display: none;
			}
		}

		.logo-img-box {
			min-width: 60px;
			max-width: 60px;
			height: 100%;

			.logo-svg {
				height: auto;
				width: 100%;
			}
		}

		.logo-text {
			h1 {
				font-size: 27px;
			}

			h3 {
				font-size: 20px;
			}
		}
	}

	&.mobile-dash {
		@media ($down: $md) {
			height: 100vh;
  			height: calc(var(--vh, 1vh) * 100);

			.logout {
				display: none;
			}

			&.active {
				.button-and-new-money-activity-container {
					display: none;
				}
			}
		}
	}
}

.sidebar {
	position: fixed;
	top: 0;
	display: block;
	max-width: 70px;
	width: 100%;
	height: 100%;
	background-color: $secondary-color;
	z-index: 1;
	transition: max-width 0.3s ease;

	&.active {
		max-width: 200px;

		.container {
			margin-left: auto;
			max-width: 50%;
		}

		.menu-burger {
			-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
			span {
				transition: transform 0.2s ease, opacity 0.3s ease, top 0.3s ease;

				&:nth-child(1) {
					transform:translate3d(-50%, 10px, 0) rotate(45deg);
				}
				&:nth-child(2) {
					transform:translate3d(-50%, 0px, 0) rotate(-45deg);
				}

				&:nth-child(3) {
					top: 5px;
					opacity: 0;
				}
			}
		}
	}

	@media ($up: $md) {
		left: 0;
	}

	@media ($down: $md) {
		background-color: transparent;
		right: 30px;
		top: 20px;
		width: 50px;
		height: 50px;
	}

	.container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		transition: margin-left 0.3s ease;
	}

	.menu-burger {
		position: relative;
		display: block;
		width: 100%;
		height: 50px;
		margin-left: auto;
		margin-top: 10px;
		cursor: pointer;

		span {
			position: absolute;
			display: block;
			top: 30px;
			left: 50%;
			transform: translateX(-50%);
			width: 30px;
			height: 3px;
			background-color: $white;
			border-radius: 30px;

			&:nth-child(1) {
				top: 10px;
			}

			&:nth-child(2) {
				top: 20px;
			}
		}
	}
	
	@media($down: $md) {
		&.mobile {
			max-width: 0;
			background-color: $secondary-color;
			position: absolute;
			width: 100%;
			right: 0;
			height: 100vh;
  			height: calc(var(--vh, 1vh) * 100);
			top: 0;
			transition: all 0.3s ease;

			.menu-burger {
				right: 40px;
				top: 30px;
			}

			.dashboard-views {
				display: none;
			}

			&.active {
				max-width: 100%;
				right: 0;

				.dashboard-views {
					display: block;
				}

				.container {
					width: 100%;
					max-width: 100%;
				}

				.settings-opener, .menu-burger {
					display: block;
					position: absolute;
					right: 20px;
					width: 50px;
					left: auto;
					transform: none;
				}
			}
		}
	}
}

.main-section {
	position: relative;
	display: block;
	padding: 20px 0 20px 100px;
	width: 100%;
	height: 100vh;

	@media ($down: $md) {
		padding-left: 30px;
	}

	.main-dashboard {
		position: relative;
		display: block;
		background-color: $white;
		color: $secondary-color;
		height: 600px;
		width: 95%;
		margin: 55px auto;
		margin-left: -7px;
		padding: 15px 20px;
		border-radius: 15px;
		box-shadow: 5px 4px 20px 2px rgba(80, 80, 80, 0.59);

    .budget-and-new-money-activity-container {
      display: flex;
		width: 100%;
		position: relative;
		border-bottom: 2px solid lighten($grey, 40px);

		.button-and-new-money-activity-container {
			position: absolute;
			height: 100%;
			top: 0;
			left: 270px; 

			.new-credit-entry-button, .new-expense-button {
				position: relative;
				cursor: pointer;
				height: 25px;
				width: 25px;
				top: 10px;

				&::before, &::after {
					content: "";
					position: absolute;
					width: 30px;
					height: 2px;
					background-color: rgb(41, 153, 41);
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}

				&::after {
					transform: translate(-50%, -50%) rotate(90deg);
				}
			}

			.new-expense-button {
				margin-top: 10px;

				&::before {
					background-color: $color-difference;
				}

				&::after {
					opacity: 0;
				}
			}
		}
    }

		@media ($down: $md) {
			width: 97%;
			height: 800px;
		}
	}
}
