@import '../../scss/variables';

.list-container {
  margin-top: 40px;
  width: 100%;
  overflow-y: scroll;
  max-height: 400px;
  height: 100%;
  -webkit-overflow-scrolling: touch;

  @media ($down: $md) {
    max-height: 550px;
  }

  @media ($down: $sm) {
    max-height: 400px;
    height: 100%;
    overflow: scroll;
  }

  .list-titles {
    display: flex;
    margin-bottom: 15px;
    color: #315382;
    font-weight: 500;

    .list-title {
      width: 180px;
      padding-left: 10px;
    }
  }

  .entry-container{
    display: flex;
    margin-bottom: 15px;
    max-width: 725px;
    border-radius: 20px;

    .amount-container {
       &.expense {
         color: #ca6262;
       }
       &.credit{
         color: #47ac59;
       }
    }

    @media ($down: $sm) {
      width: 100%;
      max-width: 100%;
      min-width: 100vw;
    }

    
    &:nth-child(1n) {
      background-color: rgb(210, 219, 231);
    }

    &:nth-child(2n) {
      background-color: rgb(223, 228, 235);
    }

    .list-item {
      width: 180px;
      height: 100%;
      padding: 10px;

      @media ($down: $sm) {
        width: 100%;
      }
    }
  }
}

