@import '../../scss/variables';

.wrapper {
  height: 100%;
  display: flex;
}

.logo-container {
  background-color: $primary-color;
  width: 60%;
  height: 100vh;

  @media ($down: $xl) {
    display: none;
  }
}

.login-container {
  position: relative;
  background-color: $secondary-color;
  width: 40%;
  height: 100vh;

  @media ($down: $sm) {
    width: 100%;
  }

  @media ($down: $xl) {
    width: 100%;
  }

  .logo-box {
    display: none;

    @media ($down: $xl) {
      display: block;
      max-width: 450px;
      margin: 0 auto;
      top: 100px;
      left: 0;
      text-align: center;
    }

    @media ($down: $sm) {
      top: 45px;
    }

    .logo-img-box {
      position: relative;
      display: block;
      margin-right: 20px;

      @media ($down: $xl) {
        margin: auto 0;
      }

      @media ($down: $sm) {
        margin: auto 0;
      }

      .logo-svg {
        @media ($down: $xl) {
          width: 100px;
        }

        @media ($down: $sm) {
          width: 65px;
        }
      }
    }

    .logo-text {
      width: 100%;

      .app-name {
        @media ($down: $sm) {
          font-size: 2rem;
          font-weight: 400;
        }
      }
  
      .slogan-text {
        @media ($down: $sm) {
          font-size: 1.1rem;
          font-weight: 300;
        }
      }
    }
  }

  .form-box {
    position: relative;
    display: block;
    top: 40%;
    margin: 0 auto;
    max-width: 350px;
    text-align: center;

    @media ($down: $xl) {
      top: 30%;
      width: 70%;
    }

    @media ($down: $sm) {
      top: 20%;
    }

    .login-form {
      position: relative;
      display: block;
      
      .input-box{  
        margin-top: 90px;
        &:first-of-type{
          margin-top: 0;
        }
      }

      .forgot-password-container{
        text-align: right;
        margin-top: 0.3rem;

        .forgot-password {
          font-size: 0.75rem;
          text-align: right;
          display: inline-block;
        }
      }

      .sign-up {
        display: inline-block;
      }
      
      .login-button {
        border: none;
        background-color: $primary-color;
        color: $white;
        width: 100%;
        height: 45px;
        border-radius: 5px;
        font-size: 1.2rem;
        margin-top: 35px;
        margin-bottom: 35px;
        transition: 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: lighten(rgba(255, 255, 255, 0.695), 40px);
          color: $white;
          box-shadow: inset 0px 0px 0px 2px $black;
        }
      }
    }
  }
}

.modal-box-content{
  align-items: center;

  p,h2,label{
    color: $primary-color;
    text-align: center;
  }

  .password-reset-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .email-input {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
	    width: fit-content;

      label {
        align-self: flex-start;
      }

      input {
        display: block;
        border-radius: 3px;
        border: 1px solid $primary-color;
        padding: 5px 10px;
        outline: none;
        background: transparent;
        color: $secondary-color;
        font-size: 1.1rem;
        font-weight: 100;
        min-width: 300px;
        width: 100%;
      }
      
      .material-icons{
        color: $primary-color;
        .user-icon{
          background-color: red;
          }
      }
    }

    .button-container{
      display: flex;
      flex-direction: column;
      width: fit-content;
      align-items: center;

      p{
        margin-top: 20px;
      }
      
      button {
        border: none;
        background-color: $primary-color;
        color: $white;
        min-width: 165px;
        height: 45px;
        border-radius: 5px;
        margin-top: 20px;
        font-size: 1.2rem;
        transition: 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: lighten($primary-color, 40%);
          box-shadow: inset 0px 0px 0px 2px $black;
        }
      }
    }
  }
}

