h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  margin-bottom: 15px;
  font-size: 4rem;
}

h2 {
  margin-bottom: 10px;
  font-size: 2rem;
}

h3 {
  margin-bottom: 5px;
  font-size: 1rem;
}