@import './scss/variables';
@import './scss/fonts';

html {
	font-size: 16px;
	line-height: 1.3;
	color: $white;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-color;
  height: 100%;
  width: 100%;
}

* {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// Routing transitions
.fade-enter,
.fade-exit {
  top: 0;
  left: 0;
  transition: 0.6s ease opacity;
}
.fade-enter,
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  z-index: 1;
}

//Main definitions
.floating-inputs {
  input {
    display: inline-block;
    margin-right: 15px;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    outline: none;
    background: transparent;
    color: $primary-color;
    outline: none;;
    font-size: 2.5rem;
    font-weight: 100;
    width: 350px;
    margin-top: 30px; 
  }

  input:focus ~ .floating-label,
  input:not(:focus):valid ~ .floating-label{
    top: 20px;
    left: 20px;
    font-size: 1rem;
    opacity: 1;
  }

  .floating-label {
    position: absolute;
    pointer-events: none;
    left: 25px;
    top: 45px;
    color: #a3b2c7;
    font-size: 2rem;
    transition: top 150ms ease, left 150ms ease, font-size 150ms ease;
  }
}

