//colors
$primary-color: #5B769A;
$secondary-color: #3F5067;
$color-budget: #1B5AAA;
$color-difference: rgb(173, 7, 7);

$white: #fff;
$black: #000;
$grey: rgb(128, 128, 128);

//breakpoints
$xs: 400px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$down: max-width;
$up: min-width;