@import './variables';

.logo-box {
  display: flex;
  position: relative;
  top: 43%;
  left: 13%;

  .logo-img-box {
    position: relative;
    display: block;
    margin-right: 20px;

    .logo-svg {
      width: 125px;
      height: auto;
    }
  }
  
  .logo-text {
    width: 100%;
    
    .app-name {
      font-size: 4rem;
      font-weight: 300;
      margin: 0;
    }

    .slogan-text {
      font-size: 1.8rem;
      font-weight: 300;
    }
  }
}
