@import '../scss/variables';



.button-and-new-money-activity-container {
  
  button {
    border: none;
    background-color: transparent;
    
  }

  .new-credit-entry-button {
    color: rgb(121, 207, 109);
    font-size: 2.5rem;
  }
  
  .new-expense-button {
    color: rgb(199, 92, 92);
    font-size: 2.5rem;
  }

  .new-money-activity-wrapper {
    background-color: $secondary-color;
    width: 300px;
    position: relative;
    display: block;
  
    .new-money-activity-container {
      width: 80%;
      margin: 0 auto;
      
      .text-input-box {
        position: relative;
        display: block;
  
        div {
          padding-top: 45px;    
          position: relative;
  
          input {
            position: relative;
            display: block;
            border: none;
            border-bottom: 1px solid #e4e4e4;
            outline: none;
            background: transparent;
            color: $white;
            outline: none;;
            font-size: 1rem;
            font-weight: 100;
            width: 100%;    
          }
  
          input:focus ~ .floating-label,
          input:not(:focus):valid ~ .floating-label{
            bottom: 25px;
            left: 0px;
            font-size: 0.8rem;
            opacity: 1;
          }  
            
          .floating-label {
            position: absolute;
            pointer-events: none;
            left: 5px;
            bottom: 0px;
            color: #a3b2c7;
            font-size: 1rem;
            transition: top 150ms ease, left 150ms ease, font-size 150ms ease;
          } 
        }
      }
  
      .checkbox {
        margin-top: 35px;
        margin-right: 10px;
      }
  
      label {
        color: $white;
        font-size: 0.8rem;
      }
  
      .save-container {
        text-align: center;
  
        .save {
          border: none;
          background-color: $primary-color;
          color: $white;
          width: 100px;
          height: 35px;
          border-radius: 5px;
          font-size: 1.2rem;
          margin-top: 35px;
          margin-bottom: 35px;
          transition: 0.3s ease;
          cursor: pointer;
  
          &:hover {
            background-color: lighten(rgba(255, 255, 255, 0.695), 40px);
            color: $white;
            box-shadow: inset 0px 0px 0px 2px $black;
          }
        }
      }
    }
  }
  
  .showNewMoneyActivitiyWindow {
    display: block;
  }
  
  .hideNewMoneyActivitiyWindow {
    display: none;
  }
  
}

