@import '../../scss/variables';

.wrapper {
  height: 100%;
  display: flex;
}

.logo-container {
  background-color: $primary-color;
  width: 60%;
  height: 100vh;

  @media ($down: $xl) {
    display: none;
  }
}

.signup-container {
  position: relative;
  background-color: $secondary-color;
  width: 40%;
  min-width: 270px;
  height: 100vh;
  justify-items: center;

  @media ($down: $sm) {
    width: 100%;
    height: 100%;
  }

  @media ($down: $xl) {
   
    width: 100%;
  }

  .logo-box {
    display: none;

    @media ($down: $xl) {
      display: block;
      max-width: 450px;
      margin: 0 auto;
      top: 100px;
      left: 0;
      text-align: center;
    }

    @media ($down: $sm) {
      top: 45px;
    }

    .logo-img-box {
      position: relative;
      display: block;
      margin-right: 20px;

      @media ($down: $xl) {
        margin: auto 0;
      }

      @media ($down: $sm) {
        margin: auto 0;
      }

      .logo-svg {
        @media ($down: $xl) {
          width: 100px;
        }

        @media ($down: $sm) {
          width: 65px;
        }
      }
    }

    .logo-text {
      width: 100%;

      .app-name {
        @media ($down: $xl) {
          font-size: 3rem;
          font-weight: 400;
        }
      }
  
      .slogan-text {
        @media ($down: $sm) {
          font-size: 1.1rem;
          font-weight: 300;
        }
      }
    }
  }

  .form-box {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 350px;
    text-align: center;
    margin-top: 300px;

    @media ($down: $xl) {
      margin-top: 180px;
      width: 70%;
    }

    @media ($down: $sm) {
    }

    .signup-form {
      position: relative;
      display: block;

      .password-rules-container {
        position: relative;
        text-align: initial;
        background-color: white;
        color: $primary-color;
        margin-top: 25px;
        padding: 10px;
        border-radius: 10px;

        ul {
          padding: revert;
          line-height: 30px;
        }

        &.showPasswordRules {
          display: block;
        }
  
        &.hidePasswordRules {
          display: none;
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          width: 0;
          height: 0;
          border: 15px solid transparent;
          border-bottom-color: white;
          border-top: 0;
          margin-left: -147px;
          margin-top: -15px;
        }
      }

      .input-box{  
        margin-top: 90px;
        &:first-of-type{
          margin-top: 0;
        }
      }    

      a, button {
        display: block;
      }
      
      .login {
        display: inline-block;
      }
      
      .signup-button {
        border: none;
        background-color: $primary-color;
        color: $white;
        width: 100%;
        height: 45px;
        border-radius: 5px;
        font-size: 1.2rem;
        margin-top: 55px;
        margin-bottom: 35px;
        transition: 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: darken(rgba(255,255,255,0.5), 10px);
          color: $white;
          box-shadow: inset 0px 0px 0px 2px $black;
        }
      }
    }
  }
  
}